<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="abb_irb4600_40_255">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import abb_irb4600_40_255 urdf file -->
    <xacro:include filename="$(find abb_irb4600_40_255)/urdf/abb_irb4600_40_255.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="abb_irb4600_40_255.ros2_control.xacro" />


    <xacro:abb_irb4600_40_255_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
